@import 'tailwindcss';

@layer base {
  html {
    font-family: 'Sora', sans-serif;
  }
}

@layer components {
  .nav-link {
    @apply text-sm text-gray-700 hover:text-black transition text-left underline underline-offset-2 cursor-pointer;
  }

  .btn-oauth {
    @apply w-full flex items-center justify-center gap-2 px-4 py-2
           border border-gray-300 rounded bg-white text-gray-800
           hover:shadow cursor-pointer;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

@layer utilities {
  .overscroll-x-contain {
    overscroll-behavior-x: contain;
  }

  @media (min-width: 768px) {
    .collapsed-sidebar {
      width: 4rem !important;
    }
  }
}

@media (min-width: 768px) {
  body.sidebar-collapsed main {
    margin-left: 4rem;
  }

  body main {
    transition: margin-left 0.2s ease-in-out;
  }
}

@media (min-width: 768px) {
  .collapsed-sidebar .logo-container {
    justify-content: center;
    position: relative;
  }

  .collapsed-sidebar .sidebar-toggle {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.2s ease-in-out;
  }

  .collapsed-sidebar .sidebar-toggle svg {
    width: 1.75rem;
    height: 1.75rem;
  }

  .collapsed-sidebar .logo-container:hover .sidebar-toggle {
    opacity: 1;
  }

  .collapsed-sidebar .logo-container:hover img {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  .collapsed-sidebar img {
    transition: opacity 0.2s ease-in-out;
  }
}
