<section>
  <div class="-mx-4 sm:-mx-6 px-4 sm:px-6 space-y-4">
    <h2 class="text-2xl font-bold text-black mb-2 pb-1">
      <%= heading %>
    </h2>

    <div data-controller="carousel" class="relative">
      <div
        data-carousel-target="pane"
        class="flex overflow-x-auto gap-4 pb-4 snap-x snap-mandatory no-scrollbar"
      >
        <%= render partial: "shared/carousel/content_card",
            collection: collection, as: :item %>
        <%= render "shared/carousel/view_all_card", 
            path: path, heading: heading if path %>
      </div>

      <div
        data-carousel-target="fade"
        class="hidden md:block absolute inset-y-0 right-0 w-16
               pointer-events-none bg-gradient-to-l from-white to-transparent"
      ></div>
    </div>
  </div>
</section>
