<div data-controller="navigation-drawer modal" class="flex flex-col w-full">
  <%= render "shared/nav/mobile_header" %>
  <%= render "shared/nav/drawer" %>
  <%= render "shared/sign_in_modal" %>
</div>
