<% content_for :title, "Ruby, Software Development, and More" %>

<div class="space-y-8 mb-16">
  <% [
    ["Learn Ruby",           @latest_learn_ruby,   "/learn-ruby"],
    ["Software Dev",         @latest_software_dev, "/software-development"],
    ["Blog",                 @latest_blog,         "/blog"]
  ].each do |heading, collection, path| %>
    <%= render "shared/carousel", heading: heading, collection: collection, path: path %>
  <% end %>
</div>
