<% content_for :title, "Learning Ruby Among Other Things" %>

<div class="space-y-12">
  <!-- Latest Content -->
  <section class="mb-6">
    <h2 class="text-2xl font-bold mb-4">Latest Content</h2>
    <div class="flex overflow-x-auto gap-4 pb-4 px-2 no-scrollbar relative">
      <%= render partial: "shared/card", collection: @latest_entries, as: :item %>
    </div>
  </section>

  <!-- Learn Ruby -->
  <section class="mb-6">
    <h2 class="text-2xl font-bold mb-4">Learn Ruby</h2>
    <div class="flex overflow-x-auto gap-4 pb-4 px-2 no-scrollbar relative">
      <%= render partial: "shared/card", collection: @latest_lessons, as: :item %>
    </div>
  </section>

  <!-- Software Development -->
  <section class="mb-6">
    <h2 class="text-2xl font-bold mb-4">Software Development</h2>
    <div class="flex overflow-x-auto gap-4 pb-4 px-2 no-scrollbar relative">
      <%= render partial: "shared/card", collection: @latest_articles, as: :item %>
    </div>
  </section>

  <!-- Blog -->
  <section>
    <h2 class="text-2xl font-bold mb-4">Blog</h2>
    <div class="flex overflow-x-auto gap-4 pb-4 px-2 no-scrollbar relative">
      <%= render partial: "shared/card", collection: @latest_posts, as: :item %>
    </div>
  </section>
</div>
