<% content_for :title, "Ruby and Other Things" %>

<div class="space-y-8 mb-16">
  <% [
    ["Latest Content",       @latest_entries,    nil],
    ["Learn Ruby",           @latest_lessons,    lessons_path],
    ["Software Dev",         @latest_articles,   articles_path],
    ["Blog",                 @latest_posts,      posts_path]
  ].each do |heading, collection, path| %>
    <%= render "shared/carousel", heading: heading, collection: collection, path: path %>
  <% end %>
</div>
