.menu-section summary.group:hover .arrow-icon {
  color: #dc2626;
}

.menu-section .arrow-down {
  display: none;
}

.menu-section[open] .arrow-right {
  display: none;
}

.menu-section[open] .arrow-down {
  display: inline;
}

@media (min-width: 768px) {
  body.sidebar-collapsed main {
    margin-left: 4rem;
  }

  body main {
    transition: margin-left 0.2s ease-in-out;
  }
}

@media (min-width: 768px) {
  .collapsed-sidebar .logo-container {
    justify-content: center;
    position: relative;
  }

  .collapsed-sidebar .sidebar-toggle {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.2s ease-in-out;
  }

  .collapsed-sidebar .sidebar-toggle svg {
    width: 1.75rem;
    height: 1.75rem;
  }

  .collapsed-sidebar .logo-container:hover .sidebar-toggle {
    opacity: 1;
  }

  .collapsed-sidebar .logo-container:hover img {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  .collapsed-sidebar img {
    transition: opacity 0.2s ease-in-out;
  }
}

@supports (-webkit-appearance: none) {
  @media (max-width: 767px) {
    [data-controller='mobile-header'] {
      top: calc(env(safe-area-inset-top, 0px) - 5px);
      padding-top: calc(env(safe-area-inset-top, 0px) + 1.25rem);
      padding-bottom: 1rem;
      background: linear-gradient(to bottom, white 0%, white calc(100% + 20px));
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    }

    [data-controller='mobile-header']::before {
      content: '';
      position: absolute;
      top: -10px;
      left: 0;
      right: 0;
      height: 15px;
      background-color: white;
      z-index: -1;
    }
  }
}
