<div
  data-nav-drawer-target="backdrop"
  data-action="click->nav-drawer#close"
  class="fixed inset-0 bg-black/20 z-40 hidden md:hidden"
></div>

<nav
  id="nav"
  data-nav-drawer-target="panel"
  class="fixed inset-y-0 left-0 w-64 bg-white text-gray-900 
        transform -translate-x-full md:translate-x-0 
        transition-all duration-200 ease-in-out 
        z-50 flex flex-col shadow-md overflow-y-auto"
>
  <button
    type="button"
    data-action="click->nav-drawer#close"
    data-nav-drawer-target="closeButton"
    class="fixed top-4 left-64 transform translate-x-[0.25rem] w-7 h-7 items-center justify-center bg-white rounded-full shadow text-lg text-gray-500 hover:text-gray-800 hover:bg-gray-100 transition z-50 md:hidden cursor-pointer hidden"
  >
    ✕
  </button>
  
  <div class="flex-1 overflow-y-auto p-4 flex flex-col">
    <%= render "shared/nav/logo_section" %>
    <%= render "shared/nav/menu_sections" %>
    <%= render "shared/nav/user_section" %>
  </div>
</nav>
