<h1 class="text-2xl font-bold mb-4"><%= @page_title %></h1>

<ul class="space-y-2">
  <% @posts.each do |post| %>
    <li>
      <%= link_to post.title, 
                  "#{request.path}/#{post.slug}", 
                  class: "text-ruby hover:underline" %>
    </li>
  <% end %>
</ul>
